[submodule "deps/resource-builder"]
	path = deps/resource-builder
	url = https://github.com/funbiscuit/resource-builder.git
[submodule "deps/pfd"]
	path = deps/pfd
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "deps/crc"]
	path = deps/crc
	url = https://github.com/panzi/CRC-and-checksum-functions.git
